<html>
<head>
  <title>eHOME picamera2 MJPEG streaming demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="display:flex; height: 90vh; margin: 0;">
  <h1>eHome Camera 2</h1>
    <table>
	    <tr>
		    <td><a href="/left"> <img src="/static/direction-arrow-left.png" width="64" height="64"/></a></td>
		    <td><a href="/right"><img src="/static/direction-arrow-right.png" width="64" height="64"/></a></td>
		    <td><a href="/up">   <img src="/static/direction-arrow-up.png" width="64" height="64"/></a></td>
		    <td><a href="/down"> <img src="/static/direction-arrow-down.png" width="64" height="64"/></a></td>
	    </tr>
	    <tr>
        <td><form action="/left"> <input type="submit" value="Left" /></form></td>
        <td><form action="/right"> <input type="submit" value="Right" /></form></td>
        <td><form action="/up"> <input type="submit" value="Up" /></form></td>
        <td><form action="/down"> <input type="submit" value="Down" /></form></td>
	    </tr>
	    <tr>
        <!--<img src="http://192.168.68.102:8000/stream.mjpg" width="1920" height="1080" />-->
        <!--<img src="http://192.168.68.102:8000/stream.mjpg" width="1280" height="720" />-->
        <img src="http://192.168.68.102:8000/stream.mjpg" style="width:90%;" />
        <!--<img src="http://192.168.68.102:8000/stream.mjpg" width="640" height="480" />-->
        <!--<img src="stream.mjpg" width="640" height="480" />-->
	    </tr>
    </table>
</body>
</html>
